.project_item {
  width: 470px;
  font-family: Montserrat;
  color: #181c27;
  margin-bottom: 40px;
}

.title {
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.btn_add_logo {
  background-image: url(./icons/plus-solid.svg);
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.btn_add {
  width: 144px;
  padding: 8px 16px 8px 38px;
  background-color: rgba(24, 28, 39, 0.1);
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
