.wraper {
  display: block;
  max-width: 470px;
}

.title {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.degree {
  padding: 12px 13px 13px 8px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
}

.degreeSchool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.schoolLabel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.degreeEdits {
  display: flex;
}

.degreeEditsHover {
  width: 62px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.4);
  border: none;
  background-color: transparent;
  background-position: 10%;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.degreeEditsHover:hover {
  color: rgba(24, 28, 39, 0.9);
}

.degreeEditIcon {
  margin-right: 24px;
  background-image: url("/icons/employment_edit_icon.svg");
  background-size: contain;
}
.degreeDeleteIcon {
  margin-right: 24px;
  background-image: url("/icons/employment_delete_icon.svg");
  background-size: contain;
}

.degreeTreeangle {
  width: 0;
  background-image: url("/icons/employment_toggle_icon.svg");
  background-size: 60%;
  background-position: 95%;
}
.degreeTreeangleRotate {
  width: 0;
  background-image: url("/icons/employment_toggle_icon.svg");
  background-size: 60%;
  background-position: 15%;
  transform: rotate(180deg);
}

.degreeDates {
  width: 44%;
  display: flex;
  justify-content: space-between;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.degreeText {
  color: rgba(24, 28, 39, 0.6);
}

.degreeDate {
  color: #181c27;
}

.fillIn {
  display: flex;
  justify-content: left;
  height: 128px;
  width: 470px;
  background: rgba(24, 28, 39, 0.1);
  flex-wrap: wrap;
}

.inputSpace {
  margin-top: 16px;
  margin-left: 16px;
  height: 40px;
  width: 44%;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  padding-left: 8px;
}

.fillInDate {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  width: 44%;
}

.inputDate {
  padding: 0;
  margin-top: 16px;
  height: 40px;
  width: 100px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  padding-left: 8px;
}
.itemsWrapper {
  margin-bottom: 16px;
}
