.resumeWrapper {
  margin: 0 auto;
  width: 970px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.06), 1px 3px 4px rgba(0, 0, 0, 0.08),
    1px 4px 6px rgba(0, 0, 0, 0.12);
}

.container {
  background-color: #fff;
  padding: 70px 100px 49px;
}

.wrapper_title {
  margin-bottom: 40px;
}

.text_primary {
  font-family: Montserrat;
  font-style: normal;
  text-transform: uppercase;
  color: #181C27;
}

.text_secondary {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: rgba(24, 28, 39, 0.6);
}

.name {
  font-size: 16;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.job {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*wrapper_columns*/
.wrapper_columns {
  display: flex;
  border-top: 1px solid rgba(24, 28, 39, 0.1);
}

.wrapper_column {
  width: 100%;
  margin-bottom: 40px;
  overflow-wrap: break-word;
}

.title_columns {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.title_columns::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  margin-top: 3px;
  background: #181C27;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}

/*column_left*/
.wrapper_column_left {
  min-width: 270px;
  padding-top: 40px;
  padding-right: 10px;
  border-right: 1px solid rgba(24, 28, 39, 0.1);
}

.info_text {
  margin-bottom: 40px;
}

p.info_text:last-child {
  margin-bottom: 0;
}

.info_email {
  text-decoration-line: underline;
  cursor: pointer;
}

.skill_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/*column_right*/
.wrapper_column_right {
  width: 100%;
  padding-top: 40px;
  padding-left: 30px;
}

.section_profile {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
}

.employment_history_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.employment_history_data {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #181C27;
  margin-bottom: 16px;
}

.languages_wrapper {
  display: flex;
  align-items: center;
}

.languages_language {
  margin-right: 20px;
}

.projects_title {
  margin-bottom: 8px;
}