.project_item {
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
}

.header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 8px;
}

.header__btn_container {
  padding: 12px 8px;
  width: 178px;
  display: flex;
  justify-content: space-between;
}

.header__btn {
  padding-left: 20px;
  border: none;
  outline: none;
  font-family: Montserrat;
  background-color: transparent;
  color: rgba(24, 28, 39, 0.4);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.header__btn_pen {
  background-image: url(./icons/pen-solid.svg);
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: left center;
}

.header__btn_close {
  background-image: url(./icons/times-solid.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: left center;
}

.header__btn_hide_up {
  background-image: url(./icons/sort-up-solid.svg);
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__btn_hide_down {
  background-image: url(./icons/sort-down-solid.svg);
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__form {
  background: rgba(24, 28, 39, 0.1);
}

.header__form_hide {
  display: none;
}

.header_form_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 438px;
}

.form__title {
  margin: 16px 0;
  width: 211px;
  padding: 12px 8px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__company {
  margin: 16px 0;
  width: 211px;
  padding: 12px 8px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__description {
  margin-left: 16px;
  margin-bottom: 16px;
  padding: 12px 8px;
  width: 438px;
  height: 200px;
  text-align: start;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  resize: none;
}
