.project_item {
  margin-bottom: 16px;
}

.header {
  padding: 12px 13px 13px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
}
.header_Dark {
  composes: header;
  background: #181c27;
}

.header__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.header__title_Dark {
  composes: header__title;
  color: #fff;
}

.header__btn_container {
  display: flex;
}

.header__btn {
  width: 62px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.4);
  border: none;
  background-color: transparent;
  background-position: 10%;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.header__btn_pen {
  margin-right: 24px;
  background-image: url("/icons/employment_edit_icon.svg");
  background-size: contain;
}
.header__btn_pen_Dark {
  composes: header__btn;
  composes: header__btn_pen;
  color: rgba(255, 255, 255, 0.6);
  background-image: url("./icons/pen-dark.svg");
}

.header__btn_close {
  composes: header__btn;
  margin-right: 24px;
  background-image: url("/icons/employment_delete_icon.svg");
  background-size: contain;
}

.header__btn_close_Dark {
  composes: header__btn_close;
  color: rgba(255, 255, 255, 0.6);
  background-image: url("./icons/delete-dark.svg");
}
.header__btn_hide_up {
  composes: header__btn;
  width: 0;
  background-image: url("/icons/employment_toggle_icon.svg");
  background-size: 60%;
  background-position: 95%;
}
.header__btn_hide_up_Dark {
  composes: header__btn_hide_up;
  background-image: url("./icons/up-down.svg");
}

.header__btn_hide_down {
  composes: header__btn;
  width: 0;
  background-image: url("/icons/employment_toggle_icon.svg");
  background-size: 60%;
  background-position: 15%;
  transform: rotate(180deg);
}
.header__btn_hide_down_Dark {
  composes: header__btn_hide_down;
  background-image: url("./icons/up-down.svg");
}

.header__form {
  background: rgba(24, 28, 39, 0.1);
}
.header__form_Dark {
  background: rgba(255, 255, 255, 0.2);
}

.header__form_hide {
  display: none;
}

.header_form_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 438px;
}

.form__title {
  margin: 16px 0;
  width: 211px;
  padding: 12px 8px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__company {
  margin: 16px 0;
  width: 211px;
  padding: 12px 8px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__description {
  margin-left: 16px;
  margin-bottom: 16px;
  padding: 12px 8px;
  width: 438px;
  height: 200px;
  text-align: start;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  resize: none;
}
