.Container {
  margin-left: 55px;
  width: 470px;
  font-family: Montserrat;
  color: #181c27;
}

.Skill__title {
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.Skill__list {
  list-style: none;
}

.Skill__submit {
  width: 121px;
  padding: 8px 16px 8px 38px;
  background-color: rgba(24, 28, 39, 0.1);
  border: none;
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.Skill__item {
  padding-bottom: 16px;
}

.SkillItem_plus {
  background-image: url(../SkillItem/icons/plus.svg);
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: left 20px center;
}
