.descriptionWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.previewCaption {
  font: 500 18px/22px "Montserrat";
  letter-spacing: 0.04em;
  color: #181c27;
}
.download {
  width: 131px;
  background-color: #181c27;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  border: none;
  padding: 8px 16px 8px 38px;
  font: normal 14px/17px "Montserrat";
  letter-spacing: 0.04em;
  color: #ffffff;
  background-image: url("./download.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.saveWrapper {
  display: flex;
  justify-content: space-between;
}
.select {
  font: 500 14px/17px "Montserrat";
  letter-spacing: 0.04em;
  color: #181c27;
  padding-top: 9px;
}

.saveBtn {
  width: 131px;
  background: #ff6b08;
  box-shadow: 0px 1px 4px rgba(255, 107, 8, 0.12),
    0px 1px 1px rgba(255, 107, 8, 0.16), 0px 1px 4px rgba(255, 107, 8, 0.2);
  border-radius: 25px;
  border: none;
  padding: 8px 48px;

  font: 500 14px/17px "Montserrat";
  letter-spacing: 0.04em;
  color: #ffffff;
}

.container {
  min-width: 640px;
}
