.Link {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: rgba(24, 28, 39, 0.4);
    text-decoration: none;
    position: relative;
}



.ActiveLink {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #181C27;
}

.LinkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114px;
}

.LinkWrapper .Link:first-child {
    margin-right: 58px;
}