.sectionWrapper {
  padding: 100px 0;
}
.loginWrapper {
  width: 610px;
  background-color: #fafafa;
  margin: 0 auto;
  padding: 60px 90px;
  background-image: url("./login-bckg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}
.loginWrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 142px;
  height: 144px;
  background-image: url("./login-after.svg");
  top: -37px;
  right: -70px;
}
.sign {
  font: normal 14px/36px "Montserrat";
  text-align: center;
  letter-spacing: 0.2em;
  color: #181c27;
  margin-bottom: 8px;
}
.loginCaption {
  font: 500 36px/44px "Montserrat";
  text-align: center;
  letter-spacing: 0.04em;
  color: #181c27;
  margin-bottom: 31px;
}
.loginInput {
  width: 100%;
  font: normal 18px/22px "Montserrat";
  display: block;
  margin: 0 auto;
  border: 0;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
  padding: 8px;
  margin-bottom: 31px;
  outline: none;
}
.loginInput:last-of-type {
  margin-bottom: 30px;
}
.submitBtn {
  display: block;
  margin: 0 auto;
  width: 170px;
  background-color: #181c27;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 25px;
  font: 500 18px/22px "Montserrat";
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 11px 0;
  margin-bottom: 16px;
}
.register {
  font: normal 13px/16px "Montserrat";
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
}
.registerLink {
  color: rgba(24, 28, 39, 0.6);
}

.error {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ff2c0c;
  margin-bottom: 20px;
}
