/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.react-datepicker__tab-loop {
  position: absolute !important;
  top: -18px;
}

.react-datepicker__header {
  position: absolute;
  width: 280px;
  padding: 7px;
}

.react-datepicker-year-header {
  background: #181c27 !important;
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 0 !important;
}

.react-datepicker__month-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 6px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.react-datepicker__month--selected {
  background: #17ecff !important;
  color: #181c27 !important;
}

.react-datepicker__month-text:hover {
  background: #ff6c00 !important;
}

.react-datepicker__triangle {
  border-bottom: 5px !important;
  border-bottom-color: #181c27 !important;
}

.react-datepicker__triangle::before {
  border-bottom-color: #181c27 !important;
}

.react-datepicker-popper .react-datepicker__triangle {
  top: 2px !important;
}

.react-datepicker__navigation {
  top: 12px !important;
  border: 2px solid transparent !important;
  height: 10px !important;
  width: 10px !important;
}

.react-datepicker__navigation--previous {
  left: 35px !important;
  border-left-color: rgba(255, 255, 255, 0.4) !important;
  border-bottom-color: rgba(255, 255, 255, 0.4) !important;
  transform: rotate(45deg) !important;
}

.react-datepicker__navigation--next {
  right: 35px !important;
  border-left-color: rgba(255, 255, 255, 0.4) !important;
  border-bottom-color: rgba(255, 255, 255, 0.4) !important;
  transform: rotate(225deg) !important;
}

.react-datepicker__monthPicker {
  margin: 0 !important;
}

.react-datepicker {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.02), 1px 1px 4px rgba(0, 0, 0, 0.06),
    1px 4px 4px rgba(0, 0, 0, 0.08) !important;
}
